/*FOOTER*/
.footerNav{              
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(223, 182, 130, 0.979);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    grid-area: footer;
    .footerNav__logo{
        width:10%;
        margin: 10px;
    }
    div{       
        display: flex;
        margin-right: 50px;
        a{
            img{
                display: flex;
                width: 50px;
                height: 50px;
                margin-left: 10px;
            }
        }
    }
}