/*MEDIA QUERYS*/
@media only screen and (max-width:1024px) {
    /*HEADER/NAV*/
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
        .navbar{
            .container-fluid{
                .container-fluid__logo{
                    margin: 20px;
                    width: 100px;
                }
                .navbar-collapse{
                    .navbar-nav {
                        a {
                        font-size: 16px;
                        }
                    }
                }
            
            }
        }
    }

    /*SECCIÓN NOVEDADES*/
    .novedades{
        .novedades__div{
            align-items: center;
        }
        .contenedor-novedades{
            .contenedor-novedades__img{
                width: 100%;
                height: 30%;
            }
        }
    }
/*PARRAFO*/
    .parrafo{
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .novedades__div{
        display: flex;
        flex-direction: column-reverse;
    }
    /*EVENTOS HTML*/
    .contenedor-eventos{
        &__titulo{
            padding:10px;
        }
        .card-eventos{
            padding: 0px;
            flex-direction: column
        }
    }
    /*CARD - INDEX*/
    .card-body{
        padding:0;
    }
    .btn-w {
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {
    /*HEADER/NAV*/
    .header {
        padding: 0;
        justify-content: space-between;
        .navbar{
            .container-fluid{
                .container-fluid__a{
                    width: 60%;
                    .container-fluid__logo{
                    width: 50%;
                    }    
                }
                .navbar-collapse{
                    .navbar{
                        & li{
                            a{
                            padding: 0px;
                            font-size: 16px;  
                            }
                        }
                    }
                }
            }
        }
    }
    /*H1-INDEX*/
    .entrada{
        width: 54vh;
        .entrada__titulo {
        font-size: 25px;
        word-spacing: 5px;
        margin: 10px;
        }
    }
    /*SECCIÓN IMAGENES - INDEX*/
    .secciones{
        .seccion-imagen {
            margin: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
                .seccion-imagen__img {
                    margin-bottom: 5px;
                    width: 75%;
                }
        }
    }
    /*SECCIÓN NOVEDADES*/
    .novedades {
        margin: 10px;
        padding: 10px;
        &__div{
            display: flex;
            flex-direction: column;
            .info{
                .info__list{
                    padding: 0px;
                    margin: 8px;
                }
            }
            .contenedor-novedades{
                width:60%;
                display: flex;
                .contenedor-novedades__img{
                    width: 45vh;
                    height: 30%;
                }
            }
        }
    }
    /*ATRACTIVOS HTML*/
    .atractivos{
        .atractivos__div{
            width:100%;
        .atractivos__parrafo{
            text-align: center;
        }
        }
        .atractivos__img {
        width: 100%;
        padding: 2px;
        }
    }
    /*NOVEDADES HTML*/
    .pagina-novedades{
        margin: 9px;
        .pagina-novedades__div{
            margin: 2px;
        }
    }

    .m-5{
        &__titulo{
            font-size: 25px;
        }
        &__subtitulo{
            font-size: 20px;
        }
        &__parrafo{
            font-size: 18px;
        }
    }
    /*CARD HTML*/
    .btn-w{
        width: 69%;
    }
    .card-eventos{
        flex-direction: column-reverse;
        &__img{
            width: 60%;
        }
    }
    /*PARRAFO*/
    .parrafo{
        font-size: 18px;
        margin:0px;
    }
    /*FOOTER*/
    .footerNav{
        .footerNav__logo{
            width: 25%;
        }
        div{
            a{
                img{
                    width: 30px;
                    height: auto;
                }
            }
        }
    }

    /*TITULOS*/
    h1{
        font-size: 30px;
        margin: 13px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }

}