.contenedor-visitar{
    width: 80%;
    margin: 30px;
    .contenedor-visitar__div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
        .contenedor-visitar__parrafos{
            margin: 10px;
            .contenedor-visitar__parrafo{
                text-align:justify;
            }
        }
        .contenedor-visitar__img{
            border-radius: 9px;
        }
    }
}

