@import "../bases/variables";

/*Titulos*/
.entrada__titulo{
    margin:30px;
    color:black;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
    font-size: 50px;
    text-align: center;
    word-spacing: 10px;
}

h1{
    margin: 20px;
    padding: 10px;
    color: $title-color;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    text-align: center;
}
h2{
    margin:12px;
    color:$font-color;
    font-family:'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
}

h3{
    color:$font-color;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
}


